version: '2'
services:
  climate1:
    build: __BUILD_DIR_
    ports:
    - "80:80"
    volumes:
    - __HOST_CASSANDRA_DATA_:__CASSANDRA_DATA_
    - logvolume01:/var/log
    links:
    - spark
    - hadoop
    - cassandra
    - semagrow
  spark:
    image: bde2020/spark-base
  hadoop:
    image: bde2020/hadoop-base
  cassandra:
    image: cassandra
  semagrow:
    image: semagrow/semagrow
volumes:
  logvolume01: {}
